@import url("https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #fff;
  font-size: 44px;
  font-family: "Share Tech Mono", monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: green;
}

button {
  border: none;
  outline: none;
  background: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.wrapper h2{
  margin: 40px 0;
}

.wrapper .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper .container .length {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.wrapper .container .length h3{
  margin: 0;
}

.wrapper .container .length .operations {
  width: 140px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.wrapper .container .length button {
  color: green;
  font-size: 40px;
  cursor: pointer;
}

.wrapper .timer-wrapper {
  text-align: center;
  padding: 0px 40px 40px 40px;
  border: 4px solid green;
  border-radius: 20px;
}

.wrapper .timer-wrapper .controle {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper .timer-wrapper .controle button {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.attribute {
  text-align: center;
}
